.profile {
  background-color: aqua;
}
.avatar {
  border-color: red;
  border: 5px solid;
  background-color: bisque;
}
.name {
  color: sienna;
  font-size: large;
  border-bottom: brown solid;
}
.tag {
  border-bottom: brown solid;
}
.location {
  border-bottom: brown solid;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stats {
  list-style: none;
  display: flex;
  justify-content: center;
  border: 5px double;
  border-color: black;
  background-color: blue;
  padding: 20px;
}
.quantity {
  margin-right: 40px;
  color: red;
}
